{% extends 'base.html' %}
{% load static %}
{% block title %}Список объявлений{% endblock %}

{% block content %}
<h1>Объявления</h1>

{% include 'includes/filters.html' %}

{% if user.is_authenticated %}
    <a href="{% url 'ad_create' %}" class="btn btn-success mb-3">Создать объявление</a>
{% endif %}

<!-- Список объявлений -->
<ul class="list-group">
    {% for ad in ads %}
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-md-9 col-sm-12">
                    <h5>{{ ad.title }}</h5>
                    <p>{{ ad.description }}</p>
                    <ul class="list-unstyled mb-2" style="font-size: 0.9rem; color: #444;">
                    <li><strong>Категория:</strong> {{ ad.get_category_display }}</li>
                    <li><strong>Состояние:</strong> {{ ad.get_condition_display }}</li>
                    <li><strong>Дата создания:</strong> {{ ad.created_at|date:"d.m.Y H:i" }}</li>
                    </ul>
                    {% if user.is_authenticated %}
                        {% if ad.is_exchanged %}
                            <button class="btn btn-secondary" disabled>Товар обменян</button>

                        {% elif ad.user == user %}
                            <a href="{% url 'ad_update' ad.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
                            <form method="post" action="{% url 'ad_delete' ad.pk %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                            </form>

                        {% elif ad.id in proposed_ads_ids %}
                            <button class="btn btn-warning" disabled>Ожидает ответа</button>

                        {% elif ad.id in exchanged_ads_ids %}
                            <button class="btn btn-secondary" disabled>Товар обменян</button>

                        {% else %}
                            <a href="{% url 'proposal_create' ad.id %}" class="btn btn-primary">Предложить обмен</a>
                        {% endif %}
                    {% endif %}
                </div>
                {% if ad.image_url %}
                    <div class="col-md-3 col-sm-12 text-end">
                        <img src="{{ ad.image_url }}" alt="Фото" class="img-fluid rounded" style="max-width: 200px; max-height: 200px;">
                    </div>
                {% endif %}
            </div>
        </li>
    {% empty %}
        <li class="list-group-item">Объявлений пока нет.</li>
    {% endfor %}
</ul>
{% include 'includes/pagination.html' %}
{% endblock %}
